.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    height: 80px;
    background-color: #ffa600b9;

    .img {
        width: 80px;
        height: 80px;

        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            height: 50px;
            object-fit: cover;
            margin-left: 3px;
            transition: transform .2s ease-in;
            border-radius: 4px;
            
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .inpt {
        width: 30rem;
        max-width: 40rem;

        display: flex;
        justify-content: center;
        input {
            height: 30px;
            flex: 1;
            border-radius: 6px;
            outline: none;
            border: none;
            padding-left: 0.5rem;
            &:focus {
                border: 2px solid rgb(131, 129, 13);
            }
        }
    }
    .options {
        width: 6rem;
        .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;

                transition: color 0.2s ease-out;
                &:hover {
                    color: #684300;
                }
                &:last-child {
                    margin-left: 1rem;
                }
            }
        }
    }
}