.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #ffa600;
    z-index: 2;

    .img {
        width: 80px;
        height: 80px;

        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            height: 50px;
            object-fit: cover;
            margin-left: 3px;
            transition: transform .2s ease-in;
            border-radius: 4px;
            
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .inpt {
        width: 30rem;
        max-width: 40rem;

        display: flex;
        justify-content: center;
        input {
            height: 30px;
            flex: 1;
            border-radius: 6px;
            outline: none;
            border: none;
            padding-left: 0.5rem;
            &:focus {
                border: 2px solid rgb(131, 129, 13);
            }
        }
    }
    .options {
        width: 6rem;
        .btns {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-weight: 700;
                font-size: 1.1rem;
            }
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;

                transition: color 0.2s ease-out;
                &:hover {
                    color: #684300;
                }
                &:first-child {
                    a {
                        color: black;
                        transition: color 0.2s ease-out;
                        &:hover {
                            color: #684300;
                        }
                    }
                }
                &:last-child {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media(max-width: 680px) {
    .header {
        .img {
            img {
                width: 50px;
                height: 50px;

            }
        }
        .inpt {
            input {
                flex: .8;
            }
        }
    }
}
